name: Deploy via SSH
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # 1. Dossier
            mkdir -p ~/Projet-Iot-2026
            cd ~/Projet-Iot-2026

            # 2. Git
            if [ -d ".git" ]; then
              git pull origin main
            else
              git clone https://github.com/ZQDR/projet-iot-2026.git .
            fi

            # 3. Docker
            docker compose up -d --build
            docker image prune -f